.body {
    font: 14px "Century Gothic", Futura, sans-serif;
    display: block;
    color: #00ff00;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #303030;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
    line-height: 1.5;
}

.text_body {
    display: block;
    color: #26f9ad;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #303030;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 250px;
    padding-right: 250px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: grey;
    border: 4px solid #000000;
    float: left;
    font-size: 52px;
    font-weight: bold;
    line-height: 34px;
    height: 167px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 167px;
}

.square-win {
    background-color: yellow;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px
}